This script implements a basic character-level sequence-to-sequence model to translate translate human readable dates ("25th of June, 2009") into machine readable dates ("2009-06-25").

#### The basic steps of the algorithm are:
- start with input sequences from a domain (human readable dates)
    and the corresponding target sequences from another domain
    (dates in a standard format).
- An encoder LSTM turns input sequences into two state vectors
    (we keep the last LSTM state and discard the outputs).
- A decoder LSTM is trained to turn the target sequences into
    the same sequence but offset by one timestep in the future,
    a training process called "teacher forcing" in this context.
    The decoder uses as initial state the state vectors returned by the encoder.
    Effectively, the decoder learns to generate `targets[t+1...]`
    given `targets[...t]`, conditioned on the input sequence.
- In inference mode, when we want to decode unknown input sequences, we:
    - Encode the input sequence into state vectors.
    - Start with a target sequence of size 1
        (just the start-of-sequence character)
    - Feed the state vectors and 1-char target sequence
        to the decoder to produce predictions for the next character
        (in fact, a distribution for the next char is generated)
    - Sample the next character using these predictions
        (we simply use argmax).
    - Append the sampled character to the target sequence.
    - Repeat until we generate the end-of-sequence character or we
        hit the character limit.

# Data
Dates are randomly generated in the load_dataset() function.


# References
- Sequence to Sequence Learning with Neural Networks
    https://arxiv.org/abs/1409.3215
- Learning Phrase Representations using
    RNN Encoder-Decoder for Statistical Machine Translation
    https://arxiv.org/abs/1406.1078'''

In [37]:
from nmt_utils import *

In [38]:
#Load dates datasets
m = 10000
dataset, human_vocab, machine_vocab, inv_machine_vocab = load_dataset(m)

100%|██████████| 10000/10000 [00:00<00:00, 16431.80it/s]

In [39]:
#[CHECK]
Tx = 30
Ty = 10
X, Y, Xoh, Yoh = preprocess_data(dataset, human_vocab, machine_vocab, Tx, Ty)

print("X.shape:", X.shape, "-> the maximum length of a phrase is set to 30")
print("Y.shape:", Y.shape,  "-> the output date in standardized format have lenght=10")
print("Xoh.shape:", Xoh.shape, "-> the human vocab contains 37 chars")
print("Yoh.shape:", Yoh.shape,"-> the machine vocab contains 11 chars")

X.shape: (10000, 30) -> the maximum length of a phrase is set to 30
Y.shape: (10000, 10) -> the output date in standardized format have lenght=10
Xoh.shape: (10000, 30, 37) -> the human vocab contains 37 chars
Yoh.shape: (10000, 10, 11) -> the machine vocab contains 11 chars

human_vocab =   {' ': 0,
                 '.': 1,
                 '/': 2,
                 '0': 3,
                 '1': 4,
                 (...)
                 '9': 12,
                 'a': 13,
                 'b': 14,
                 (...)
                 'v': 32,
                 'w': 33,
                 'y': 34,
                 '<unk>': 35,
                 '<pad>': 36}

machine_vocab= {'-': 0,
               '0': 1,
               '1': 2,
               '2': 3,
               '3': 4,
               '4': 5,
               '5': 6,
               '6': 7,
               '7': 8,
               '8': 9,
               '9': 10}

In [40]:
# Reverse-lookup token index to decode sequences back to
# something readable.
reverse_input_char_index = dict(
    (i, char) for char, i in human_vocab.items())

In [41]:
# Add two additional chars to the dict: a start char and an end char
reverse_target_char_index = {}
reverse_target_char_index = dict(
    (i, char) for char, i in machine_vocab.items())
reverse_target_char_index.update({11:'<start>', 12:'<end>'})

reverse_target_char_index:
{0: '-', 1: '0', 2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '<start>', 12: '<end>'}

In [42]:
# Use Y_oh to build decoder_input_data and decoder_output_data from Y_oh
num_samples,_,_ = Yoh.shape
Tx_decoder = 11 #it's 10 (length of YYYY-MM-DD) plus addition char 
num_decoder_tokens = len(reverse_target_char_index) # return 13
decoder_input_data = np.zeros([num_samples, Tx_decoder, num_decoder_tokens])
decoder_target_data = np.zeros([num_samples, Tx_decoder, num_decoder_tokens])

## Prepare training data

In [43]:
#####################
# encoder input data
#####################
encoder_input_data = Xoh

####################
# decoder_input_data
####################
# timestep = O : populate with start
oh_start_char = np.zeros(num_decoder_tokens)
oh_start_char[11] = 1 # index 11 corresponds to '<start>'
#for i in range(num_samples):
decoder_input_data[:, 0] = oh_start_char # all the exemples get a <start> char character

for i in range(num_samples):
    for j in range(0,Tx_decoder-1): # j=1,...10
        for k in range(num_decoder_tokens - 2): # minus 2 because of the <start> ad <end> chars we added
            decoder_input_data[i][j+1][k] = Yoh[i][j][k]
            
#####################
# decoder_target_data
#####################

oh_end_char = np.zeros(num_decoder_tokens)
oh_end_char[12] = 1 # index 12 corresponds to '<end>'
decoder_target_data[:, Tx_decoder-1] = oh_end_char # targets get an <end> char in the last timestep

for i in range(num_samples):
    for j in range(0, Tx_decoder-1):
        for k in range(num_decoder_tokens):
            # decoder_target_data is one time step ahead of the decoder_input_data
            decoder_target_data[i][j][k] = decoder_input_data[i][j+1][k]

# Auxiliary functions

In [44]:
def from_oh_to_chars(matrix, reverse_dictionary):
    # Take a one hot enconding two dimensional ndarray and
    # translate it back to human language (phrase)
    tx, dim = matrix.shape
    resu = str()
    for i in range(tx):
            if len(np.where(matrix[i]==1)[0])==0:
                break
            else:
                index = np.where(matrix[i]==1)[0][0]
                resu+=(reverse_dictionary[index])
    return resu

print(encoder_input_data[1],'\n', from_oh_to_chars(encoder_input_data[1], reverse_input_char_index))

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 1.]]
 27 may 2014<pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad>

In [45]:
def from_encode_to_chars(vector_indices, reverse_input_char_index):
    resu = ''   
    for _,index in enumerate(vector_indices):
        resu+=reverse_input_char_index[index]
    return resu

print(X[0], " \nis decoded to \n", from_encode_to_chars(X[0], reverse_input_char_index))

[30 31 17 29 16 13 34  0 24 13 28 15 20  0  5 11  0  4 12 12  8 36 36 36
 36 36 36 36 36 36]
is decoded to
 tuesday march 28 1995<pad><pad><pad><pad><pad><pad><pad><pad><pad>

In [46]:
def encode_string(phrase, human_vocab, Tx):
    # take string and return a list with the index of each char (in the dictionary human vocab)
    # take phrase 'foo' and return [18,26,26]
    resu = np.zeros(Tx, dtype=np.int8)
    for idx,char in enumerate(phrase):
        resu[idx] = human_vocab.get(char)
        idx=idx+1
    resu[idx:] = human_vocab.get('<pad>')
    return resu

def from_encode_to_oh(encoded_phrase_indices, reverse_input_char_index):
    cols = encoded_phrase_indices
    matrix = np.zeros((len(encoded_phrase_indices) , len(reverse_input_char_index) ) )
    matrix[np.arange(len(encoded_phrase_indices)) ,cols ] = 1
    return matrix

def from_nl_to_oh(phrase,human_vocab,reverse_input_char_index, Tx):
    encoded_phrase_indices = encode_string(phrase, human_vocab, Tx)
    resu = from_encode_to_oh(encoded_phrase_indices,reverse_input_char_index)
    return resu

from_nl_to_oh('20 may 1998', human_vocab, reverse_input_char_index, Tx)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

## Random Checks

In [47]:
print("Example 9 may 1998")
print(from_encode_to_chars(X[0], reverse_input_char_index))
print(from_oh_to_chars(decoder_input_data[0], reverse_target_char_index)) # '<start>1998-05-09'
print(from_oh_to_chars(decoder_target_data[0], reverse_target_char_index)) # '1998-05-09<end>'

Example 9 may 1998
tuesday march 28 1995<pad><pad><pad><pad><pad><pad><pad><pad><pad>
<start>1995-03-28
1995-03-28<end>

In [48]:
print("Example 10.09.70")
print(from_encode_to_chars(X[1], reverse_input_char_index))
print(from_oh_to_chars(decoder_input_data[1], reverse_target_char_index)) # '<start>1998-05-09'
print(from_oh_to_chars(decoder_target_data[1], reverse_target_char_index)) # '1998-05-09<end>'

Example 10.09.70
27 may 2014<pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad>
<start>2014-05-27
2014-05-27<end>

In [49]:
print("Example: sunday may 22 1988")
print(from_encode_to_chars(X[5], reverse_input_char_index))
print(from_oh_to_chars(decoder_input_data[5], reverse_target_char_index)) # '<start>1998-05-09'
print(from_oh_to_chars(decoder_target_data[5], reverse_target_char_index)) # '1998-05-09<end>'

Example: sunday may 22 1988
october 22 1979<pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad>
<start>1979-10-22
1979-10-22<end>

## Start with the model

In [50]:
from __future__ import print_function

#from keras.models import Model
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, LSTM, Dense
import numpy as np

In [51]:
# Metaparams
batch_size = 64 # 64  # Batch size for training.
epochs =  50  # Number of epochs to train for.
latent_dim = 256  # Latent dimensionality of the encoding space.
num_samples = num_samples  # Number of samples to train on.

num_encoder_tokens = len(human_vocab)
num_decoder_tokens = num_decoder_tokens

In [52]:
#lstm_decoder =  LSTM(latent_dim, return_sequences=True, return_state=True, name='lstm_decoder')
# Let's define here the building blocks of our models
lstm_encoder_layer = LSTM(latent_dim, return_state=True, name='lstm_encoder')
lstm_decoder_layer =  LSTM(latent_dim, return_sequences=True, return_state=True, name='lstm_decoder')
dense_layer = Dense(num_decoder_tokens, activation='softmax', name="decoder_dense")

In [53]:
###########################
# Define model for training
##########################

# Define an input sequence and process it.
def get_training_model(lstm_encoder_layer, lstm_decoder_layer, dense_layer):
    
    encoder_inputs = Input(shape=(None, num_encoder_tokens), name='encoder_inputs')
    
    # The input sequence is encoded; the resulting state vectors are kept; 
    # encoder_outputs, state_h, state_c are tensors
    encoder_outputs, state_h, state_c = lstm_encoder_layer(encoder_inputs)

    # We discard `encoder_outputs` and only keep the states.
    encoder_states = [state_h, state_c]

    decoder_inputs = Input(shape=(None, num_decoder_tokens))

    """
    We set our decoder up to return full output sequences,
    and to return internal states as well. We don't use the
    return states in the training model, but we will use them 
    in the inference phase.
    """
    decoder_outputs_0, _, _ = lstm_decoder_layer(decoder_inputs, initial_state=encoder_states)
    decoder_outputs_1 = dense_layer(decoder_outputs_0)

    # Define the model that will turn
    # `encoder_input_data` and `decoder_input_data` into `decoder_target_data`
    training_model = Model([encoder_inputs, decoder_inputs], decoder_outputs_1)
    return training_model

training_model = get_training_model(lstm_encoder_layer, lstm_decoder_layer, dense_layer)

encoder.input returns:  Tensor("encoder_inputs_4:0", shape=(?, ?, 37), dtype=float32)
encoder.output returns: [<tf.Tensor 'lstm_encoder_4/TensorArrayReadV3:0' shape=(?, 256) dtype=float32>, <tf.Tensor 'lstm_encoder_4/while/Exit_2:0' shape=(?, 256) dtype=float32>, <tf.Tensor 'lstm_encoder_4/while/Exit_3:0' shape=(?, 256) dtype=float32>]

In [54]:
lstm_decoder_layer.get_config()

{'name': 'lstm_decoder',
 'trainable': True,
 'dtype': 'float32',
 'return_sequences': True,
 'return_state': True,
 'go_backwards': False,
 'stateful': False,
 'unroll': False,
 'units': 256,
 'activation': 'tanh',
 'recurrent_activation': 'hard_sigmoid',
 'use_bias': True,
 'kernel_initializer': {'class_name': 'VarianceScaling',
  'config': {'scale': 1.0,
   'mode': 'fan_avg',
   'distribution': 'uniform',
   'seed': None,
   'dtype': 'float32'}},
 'recurrent_initializer': {'class_name': 'Orthogonal',
  'config': {'gain': 1.0, 'seed': None, 'dtype': 'float32'}},
 'bias_initializer': {'class_name': 'Zeros', 'config': {'dtype': 'float32'}},
 'unit_forget_bias': True,
 'kernel_regularizer': None,
 'recurrent_regularizer': None,
 'bias_regularizer': None,
 'activity_regularizer': None,
 'kernel_constraint': None,
 'recurrent_constraint': None,
 'bias_constraint': None,
 'dropout': 0.0,
 'recurrent_dropout': 0.0,
 'implementation': 1}

In [55]:
training_model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
encoder_inputs (InputLayer)     (None, None, 37)     0
__________________________________________________________________________________________________
input_3 (InputLayer)            (None, None, 13)     0
__________________________________________________________________________________________________
lstm_encoder (LSTM)             [(None, 256), (None, 301056      encoder_inputs[0][0]
__________________________________________________________________________________________________
lstm_decoder (LSTM)             [(None, None, 256),  276480      input_3[0][0]
                                                                 lstm_encoder[0][1]
                                                                 lstm_encoder[0][2]
__________________________________________________________________________________________________
decoder_dense (Dense)           (None, None, 13)     3341        lstm_decoder[0][0]
==================================================================================================
Total params: 580,877
Trainable params: 580,877
Non-trainable params: 0
__________________________________________________________________________________________________

In [56]:
##############
# Run training
##############
TRAINING = False
if TRAINING:
    training_model.compile(optimizer='rmsprop', loss='categorical_crossentropy')
    training_model.fit([encoder_input_data, decoder_input_data], decoder_target_data,
          batch_size=batch_size,
          epochs=epochs,
    validation_split=0.2)
    # Save model
    training_model.save('s2s_dates_translator.h5')
else:
    training_model.load_weights('s2s_dates_translator.h5')

In [57]:
# Next: inference mode (sampling).
# Voici the steps:
# 1) encode input and retain output as initial decoder state
# 2) run one step of decoder with this initial state
# and a "start of sequence" token as target.
# Output will be the next target token
# 3) Repeat with the current target token and current states

def sampling_model(latent_dim, lstm_encoder_layer, lstm_decoder_layer,decoder_dense):
    # Define sampling models
    encoder_inputs = Input(shape=(None, num_encoder_tokens), name='encoder_inputs')
    encoder_outputs, state_h, state_c = lstm_encoder_layer(encoder_inputs)
    # We discard `encoder_outputs` and keep only the states.
    encoder_states = [state_h, state_c]
    
    encoder_model = Model(encoder_inputs, encoder_states)

    decoder_state_input_h = Input(shape=(latent_dim,), name='decoder_state_input_h')
    decoder_state_input_c = Input(shape=(latent_dim,), name='decoder_state_input_c')
    decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]
    # This is the lstm we defined before 
    decoder_inputs = Input(shape=(None, num_decoder_tokens))
    decoder_outputs, state_h, state_c = lstm_decoder_layer(decoder_inputs, initial_state=decoder_states_inputs)
    decoder_states = [state_h, state_c]
    decoder_outputs = decoder_dense(decoder_outputs)
    decoder_model = Model(
        [decoder_inputs] + decoder_states_inputs, # the input is a list containing three tensors
        [decoder_outputs] + decoder_states) # the input is also a list containing tensors
    return encoder_model, decoder_model

In [22]:
encoder_model, decoder_model = sampling_model(latent_dim, lstm_encoder_layer, lstm_decoder_layer, dense_layer)

In [159]:
states_v = encoder_model.predict(encoder_input_data[2:3])
target_seq = np.zeros((1, 11, num_decoder_tokens))
target_seq[0, 0, np.where(oh_start_char==1)[0][0]] = 1.
outs = decoder_model.predict([target_seq]+states_v)

In [160]:
acum=[]
for t in range(0,11):
    token_at_t = np.argmax(outs[0][0][t])
    acum+=reverse_target_char_index[token_at_t]

In [161]:
acum

['2', '0', '0', '4', '-', '0', '3', '-', '2', '2', '<', 'e', 'n', 'd', '>']

In [162]:
decode_sequence(encoder_input_data[2:3], np.where(oh_start_char==1)[0][0],encoder_model, decoder_model)

'2004-03-22<end>'

In [58]:
def decode_sequence(input_seq, index_start_char,encoder_model, decoder_model):
    # Encode the input sequence as state vectors.
    states_value = encoder_model.predict(input_seq)
    
    # Generate empty target sequence of length 1.
    target_seq = np.zeros((1, 1, num_decoder_tokens))
    
    # Populate the first character of target sequence with the start character.
    target_seq[0, 0, index_start_char] = 1.

    # Sampling loop for a batch of sequences
    # (to simplify, here we assume a batch of size 1).
    decoded_sentence = ''
    for char_elem in range(11) :
        output_tokens, h, c = decoder_model.predict(
            [target_seq] + states_value)
  
        # Sample a token wih argmax
        sampled_token_index = np.argmax(output_tokens[0, -1, :])
        
        # Get char associatedwith token
        sampled_char = reverse_target_char_index[sampled_token_index]
        decoded_sentence += sampled_char

        # Update the target sequence (of length 1).
        target_seq = np.zeros((1, 1, num_decoder_tokens))
        target_seq[0, 0, sampled_token_index] = 1.

        # Update states. Here we reassign the initial decoder states.  
        states_value = [h, c]

    return decoded_sentence

### Single check

In [59]:
print("Input date:", from_oh_to_chars(encoder_input_data[0], reverse_input_char_index))
print("Predicted date", decode_sequence(encoder_input_data[0:1], np.where(oh_start_char==1)[0][0], encoder_model, decoder_model)) # '1990-04-28<end>'
print("Expected result is", from_oh_to_chars(decoder_target_data[0], reverse_target_char_index)) # '1990-04-28<end>'

Input date: tuesday march 28 1995<pad><pad><pad><pad><pad><pad><pad><pad><pad>
Predicted date 1995-03-28<end>
Expected result is 1995-03-28<end>

In [60]:
print("Input date:", from_oh_to_chars(encoder_input_data[2], reverse_input_char_index))
print("Predicted date", decode_sequence(encoder_input_data[2:3], np.where(oh_start_char==1)[0][0], encoder_model, decoder_model)) # '1990-04-28<end>'
print("Expected result is", from_oh_to_chars(decoder_target_data[2], reverse_target_char_index)) # '1990-04-28<end>'

Input date: 22 march 2004<pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad>
Predicted date 2004-03-22<end>
Expected result is 2004-03-22<end>

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(columns=['matches','decoded','expected', 'input_sentence'])
df.loc[0, ['matches','decoded', 'expected', 'input_sentence']]=[True, 'decoded_value','true_value', 'elem']

In [29]:
for i, elem in enumerate(encoder_input_data[0:10000]):
    input_seq = elem.reshape(1,30,37)
    decoded_value = decode_sequence(input_seq,np.where(oh_start_char==1)[0][0],encoder_model, decoder_model)
    true_value = from_oh_to_chars(decoder_target_data[i], reverse_target_char_index)
    matches = decoded_value==true_value
    df.loc[i, ['matches','decoded', 'expected', 'input_sentence']]=[matches, decoded_value,true_value,  from_oh_to_chars(elem, reverse_input_char_index)]

In [30]:
df.matches.value_counts()

True     9826
False     174
Name: matches, dtype: int64

In [162]:
df['years'] = df.expected.str[0:4]

### Test with data in the triaining set

In [67]:
for seq_index in range(4):
    # Take one sequence (part of the training set)
    # for trying out decoding.
    input_seq = encoder_input_data[seq_index: seq_index + 1]
    decoded_sentence = decode_sequence(input_seq,np.where(oh_start_char==1)[0][0],encoder_model, decoder_model)

    print('Input sentence:', dataset[seq_index][0])
    print('Decoded sentence:', decoded_sentence , '(should be ', dataset[seq_index][1], ')')

Input sentence: tuesday march 28 1995
Decoded sentence: 1995-03-28<end> (should be  1995-03-28 )
Input sentence: 27 may 2014
Decoded sentence: 2014-05-27<end> (should be  2014-05-27 )
Input sentence: 22 march 2004
Decoded sentence: 2004-03-22<end> (should be  2004-03-22 )
Input sentence: saturday october 29 1988
Decoded sentence: 1988-10-29<end> (should be  1988-10-29 )

In [68]:
from_oh_to_chars(input_seq[0], reverse_input_char_index)

'thursday january 26 1995<pad><pad><pad><pad><pad><pad>'

### Test with new data

In [79]:
#Load dates datasets
m = 10000
dataset_test, human_vocab, machine_vocab, inv_machine_vocab = load_dataset(m)

100%|██████████| 10000/10000 [00:00<00:00, 20093.52it/s]

In [80]:
#[CHECK]
Tx = 30
Ty = 10
X_test, Y_test, Xoh_test, Yoh_test = preprocess_data(dataset_test, human_vocab, machine_vocab, Tx, Ty)

In [99]:
i=np.random.randint(0,10000)
print(from_encode_to_chars(Y_test[i], reverse_target_char_index))
print(from_encode_to_chars(X_test[i], reverse_input_char_index))
#print(from_oh_to_chars(decoder_input_data[0], reverse_target_char_index)) # '<start>1998-05-09'
#print(from_oh_to_chars(decoder_target_data[0], reverse_target_char_index)) # '1998-05-09<end>'

1998-06-20
jun 20 1998<pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad><pad>

In [100]:
# use this dataset to check whether the test date is already in the input dataset
nl_input_data= [from_encode_to_chars(X_test[i], reverse_input_char_index).replace('<pad>','') for i in range(0,10000)]

In [136]:
def encode_date_to_oh(date_nl, nl_input_data):
    # look if date in argument is already present in training set
    if date_nl.replace('<pad>','') in nl_input_data:
        raise ValueError('date is already in input dataset ')
    
    oh_new_phrase = from_nl_to_oh(date_nl, human_vocab, reverse_input_char_index, 30)
    oh_new_date = np.zeros((1,oh_new_phrase.shape[0], num_encoder_tokens))
    oh_new_date[0] = oh_new_phrase
    return oh_new_date

In [101]:
nl_input_data

['sunday july 23 1995',
 'wednesday june 5 1996',
 '19 feb 2011',
 'monday october 29 1979',
 '20 june 2005',
 '21 10 09',
 '11 09 83',
 '20 november 2004',
 '16 january 1997',
 '29 nov 1971',
 '26.10.72',
 'saturday may 12 1984',
 'thursday september 2 1971',
 'sunday november 13 2005',
 'saturday march 22 2008',
 'june 27 2012',
 'friday october 7 2016',
 'thursday february 19 2009',
 '5 nov 2013',
 '8 jun 1988',
 'february 22 2009',
 'feb 11 2010',
 'sunday september 2 2018',
 'sunday december 13 1992',
 '14 sep 2016',
 '03.02.77',
 '1 september 1994',
 'december 26 2011',
 '21 aug 2001',
 '8/26/88',
 'monday september 27 2004',
 '03.01.92',
 'march 5 1975',
 '4 08 85',
 'saturday november 28 1987',
 'wednesday october 18 2017',
 '11/9/15',
 'saturday january 29 1977',
 'friday june 26 1970',
 '21 august 1983',
 'thursday october 27 2016',
 '26 sep 1984',
 '24.06.08',
 '18 aug 2008',
 'november 20 2010',
 'friday september 25 1992',
 'jul 10 1985',
 '12/23/91',
 'friday july 7 1995',
 '24 aug 1997',
 '1 august 2013',
 'thursday january 7 1993',
 'saturday february 22 2014',
 'sunday july 29 2007',
 'saturday october 9 2004',
 'saturday september 8 2001',
 'january 17 1999',
 'friday january 15 2010',
 'saturday january 3 2015',
 'monday july 28 2014',
 '22 aug 2011',
 '30.01.83',
 'tuesday july 20 1993',
 'monday may 25 1998',
 'sunday august 17 2008',
 'august 18 2000',
 'thursday december 26 1991',
 'friday june 24 1994',
 'sunday november 16 1986',
 '2 feb 2015',
 'may 23 2000',
 '09 sep 1997',
 'sunday august 7 2011',
 'thursday march 22 1990',
 '12/28/00',
 '21 apr 2004',
 'thursday august 2 2018',
 'august 17 2012',
 'oct 8 1986',
 '10 september 1975',
 'wednesday june 9 1976',
 '24 jan 1970',
 'wednesday september 13 1978',
 '11/10/75',
 '4 mar 2009',
 'november 19 1974',
 '3 05 11',
 'wednesday october 15 1980',
 'may 20 1997',
 'july 13 2016',
 '12/26/87',
 '22 jun 1970',
 'sunday april 27 1997',
 'friday january 16 1998',
 'september 26 1994',
 '28 may 1980',
 'sunday october 12 2003',
 '5 february 2003',
 'monday october 21 1974',
 '03.08.82',
 '28 08 77',
 'saturday april 2 2005',
 '21 nov 1984',
 '7 05 02',
 '9/6/05',
 '21 09 72',
 '11/15/75',
 '05 nov 1977',
 '1 12 96',
 '24 may 1991',
 '20 october 1998',
 '15 mar 2017',
 'august 6 1976',
 'wednesday may 29 1991',
 '9 apr 2002',
 'october 1 1972',
 'wednesday june 5 2013',
 '2/10/94',
 'may 5 1984',
 'sep 23 1975',
 'tuesday october 15 1996',
 'thursday november 6 2003',
 '5 february 1990',
 '1 jan 1974',
 'sunday april 29 2001',
 'thursday june 25 1992',
 '19.02.72',
 '29 may 1980',
 'monday february 21 2000',
 '12 sep 1990',
 'sunday may 21 2006',
 'friday may 16 1986',
 'wednesday june 18 2003',
 '27 nov 1985',
 'sunday march 25 2018',
 'october 29 1982',
 '25 oct 1978',
 '25 apr 2004',
 '6/20/11',
 'monday february 3 1986',
 'friday april 17 2015',
 'wednesday july 20 2011',
 '25 february 2009',
 '8 jan 1992',
 'wednesday february 24 2010',
 '10 may 1980',
 'sunday october 26 2008',
 'friday december 28 1979',
 '9 november 2017',
 'saturday march 8 1975',
 'friday may 8 1981',
 '21 06 98',
 'august 21 1991',
 'tuesday january 5 1971',
 'friday november 23 2012',
 'july 8 2006',
 '13 apr 2015',
 'sunday october 22 1972',
 'friday july 17 1992',
 'friday april 19 2002',
 '19 august 1991',
 'friday may 4 1973',
 'saturday june 11 1977',
 '19 january 2002',
 '2/6/75',
 '25 july 1980',
 'tuesday november 15 1983',
 '25 jun 1970',
 '24 sep 2007',
 'wednesday september 23 2015',
 '21 may 2016',
 'december 25 1993',
 '21 july 2005',
 '21 may 1971',
 '11 jul 2008',
 '8 08 81',
 'tuesday august 21 1973',
 '2 may 1974',
 'thursday august 2 2001',
 '26 jun 2006',
 '23.06.88',
 'monday november 7 2005',
 'tuesday january 11 2011',
 'sunday may 30 1976',
 '6 aug 2016',
 '04 sep 2003',
 'wednesday march 13 1996',
 '28 september 1982',
 'tuesday december 18 1984',
 'may 2 2000',
 'sunday august 28 1977',
 '26.07.09',
 'wednesday december 11 1985',
 '21 july 2011',
 '20 jan 1987',
 'august 15 1983',
 'january 21 1989',
 'december 17 1970',
 '3 july 2001',
 '19 january 1986',
 '14 november 1993',
 'thursday may 9 1996',
 '15 12 95',
 '20 aug 2010',
 'september 1 2000',
 '1/22/99',
 'monday june 2 1975',
 'tuesday october 4 1983',
 '31 may 2007',
 'july 7 1976',
 '13 august 1986',
 '26.06.93',
 '20 july 1970',
 '27 jun 1979',
 'thursday august 9 2012',
 '26 may 1975',
 '11 march 1976',
 'november 7 1984',
 'friday june 4 1971',
 'sunday august 9 1992',
 '22 08 71',
 'sep 18 2012',
 '07 jul 1992',
 'saturday october 14 2000',
 '18 jan 2000',
 '30 may 2009',
 'february 20 2016',
 'friday june 12 1981',
 'sunday december 5 1999',
 'sunday december 9 1990',
 'jan 9 1998',
 '4 july 1973',
 'march 31 2001',
 'wednesday september 25 2002',
 '19 september 2005',
 'sep 4 2012',
 'monday august 18 1975',
 'tuesday february 2 1988',
 '4 october 2012',
 'jun 25 1999',
 'january 31 2011',
 '18 dec 2002',
 '9 dec 2015',
 '7 06 00',
 'tuesday february 6 1996',
 '20 february 2005',
 '16 09 89',
 'sunday september 27 1987',
 '22 08 76',
 'january 25 1999',
 '6 aug 1990',
 '15 august 1993',
 '14.06.83',
 'tuesday january 15 2008',
 '29 01 03',
 'august 7 2010',
 'july 25 2014',
 'thursday april 4 2002',
 '20 december 2005',
 '25 05 00',
 'monday march 9 1987',
 'thursday april 19 2007',
 'tuesday march 14 1995',
 'saturday january 9 1993',
 'friday march 2 2001',
 'thursday september 2 1982',
 'tuesday march 2 2004',
 '21 june 1988',
 '20 may 1972',
 '21 dec 1999',
 'monday may 14 1990',
 'wednesday september 6 2000',
 'wednesday march 1 2006',
 '26 jan 2017',
 'october 6 2015',
 '10 dec 2009',
 'tuesday april 26 2011',
 'monday june 9 2003',
 '22 october 1999',
 'wednesday may 29 1996',
 'friday june 28 1974',
 'tuesday october 23 2007',
 '21 september 1996',
 'saturday june 4 1988',
 '11 jun 2016',
 'monday august 15 2005',
 'mar 25 1982',
 'monday december 13 2004',
 '10 may 2000',
 '13.08.08',
 'thursday may 11 1995',
 '6 02 97',
 '6 apr 2011',
 'sunday october 27 1991',
 '08 jul 2016',
 'december 28 1987',
 'sunday march 22 1992',
 '07 oct 1990',
 'november 7 1981',
 '5 june 2000',
 '9 march 2001',
 '12 jul 2005',
 'may 16 1973',
 '2/6/86',
 '02 sep 1984',
 'wednesday june 8 2011',
 '06 jul 1991',
 'saturday may 14 1977',
 '17 feb 1989',
 '16 july 1974',
 '15 january 1979',
 'friday july 13 1973',
 '28 aug 2008',
 'friday august 3 1973',
 '28 05 02',
 'saturday february 28 2004',
 'wednesday march 21 1990',
 '02.09.16',
 '22 09 87',
 'saturday december 5 1981',
 'monday august 2 1971',
 'monday august 19 2013',
 'may 16 1974',
 '20 jun 1982',
 '21 jun 1980',
 'monday november 29 1971',
 'saturday october 6 1973',
 'wednesday september 25 1991',
 '24 july 2013',
 '4 september 2012',
 'wednesday april 4 1973',
 'friday june 3 2016',
 'tuesday february 9 1982',
 'october 22 2008',
 'sunday july 10 1994',
 'wednesday september 21 1977',
 '2 07 75',
 'wednesday september 28 1977',
 '10/13/74',
 'june 20 1993',
 'tuesday august 14 2007',
 'april 2 1997',
 '6/10/15',
 'wednesday april 14 2004',
 'thursday december 3 1981',
 'friday december 16 1994',
 'apr 5 1996',
 'february 5 1986',
 'sunday august 18 1991',
 '23 november 2004',
 '7/4/05',
 'saturday june 12 2004',
 '29 10 90',
 'june 6 2006',
 '20 03 76',
 'monday december 20 1993',
 'friday december 19 1975',
 '25 mar 1993',
 'may 2 1999',
 '10 06 88',
 'monday march 22 1993',
 'tuesday september 17 1985',
 'dec 28 2004',
 '30.10.97',
 '17 jun 2008',
 'may 1 2012',
 'november 16 1997',
 'dec 24 1988',
 'february 10 1976',
 'thursday december 9 1999',
 'april 1 1997',
 'wednesday february 18 2015',
 '30.07.75',
 '6 july 2004',
 'august 29 2010',
 'september 16 2012',
 '1 june 1988',
 'tuesday august 7 1979',
 'december 7 1975',
 'saturday april 1 2017',
 '03 oct 1973',
 'thursday january 2 1975',
 '15 sep 1979',
 '3/24/18',
 'aug 7 1979',
 '18 nov 1993',
 'july 14 2017',
 'monday august 10 1992',
 '2 march 1991',
 'october 29 2003',
 '14 jul 1982',
 '12/24/92',
 '19 dec 1998',
 '22 dec 2001',
 'june 4 1980',
 'january 13 2003',
 '29 04 72',
 'october 10 1976',
 'saturday may 2 1987',
 '20 feb 1991',
 'july 24 2003',
 'june 12 2004',
 '13 mar 2010',
 '30 january 2004',
 'sunday february 12 2017',
 'thursday december 18 1997',
 'monday july 4 1988',
 'jan 17 2001',
 '30 jun 1981',
 'sunday march 21 1971',
 '8/22/01',
 '06.04.14',
 '10 feb 2001',
 'sunday december 1 1985',
 '8 june 2009',
 '25 sep 1971',
 'friday september 26 2014',
 'august 9 1975',
 '2 03 70',
 'sunday march 27 2011',
 'sep 18 2004',
 '29.05.06',
 'sunday july 23 1978',
 'friday august 5 2005',
 'saturday may 16 1987',
 '02.03.81',
 'wednesday october 18 1972',
 'tuesday february 20 2007',
 '31 oct 2002',
 'tuesday july 20 2004',
 '11 oct 1984',
 'jun 11 1996',
 'june 22 1972',
 'friday october 5 2012',
 'thursday january 5 1978',
 'sunday october 20 1974',
 'oct 23 1992',
 'june 1 1988',
 '19 aug 1988',
 '20 feb 1993',
 'sep 8 2003',
 '18 march 1988',
 '5/30/81',
 'august 31 2005',
 '1 november 1973',
 'saturday november 25 2017',
 '16 mar 1990',
 '12 apr 1981',
 'thursday august 8 2013',
 'sunday august 17 2008',
 '12/12/81',
 '10/6/03',
 '17 jan 2018',
 'wednesday february 19 1975',
 'saturday september 2 1995',
 'saturday december 31 1977',
 'friday october 15 1976',
 'jun 28 1971',
 '13 july 1993',
 'monday august 20 1984',
 'sunday september 7 1975',
 'jul 21 1995',
 'saturday january 1 2005',
 'saturday october 21 1989',
 'june 4 1998',
 '12/25/14',
 '14 may 1989',
 'saturday january 10 1981',
 '1/24/89',
 '13 feb 1995',
 'thursday december 12 2002',
 '15 07 70',
 'october 21 2016',
 '15 jul 2017',
 'sunday february 8 2004',
 'wednesday september 19 1984',
 '31 july 1996',
 '5 august 1985',
 'september 12 1992',
 '18 may 1978',
 'tuesday june 5 1990',
 'thursday february 17 2005',
 'friday february 6 1981',
 '2/20/85',
 'monday november 18 2002',
 '18 december 2005',
 'sunday november 25 2007',
 '5 jan 1974',
 '09 jan 2010',
 'tuesday march 8 2016',
 'sunday august 5 2018',
 'sunday july 5 1998',
 'wednesday september 14 1988',
 'tuesday june 23 1998',
 'tuesday june 20 2000',
 'monday july 22 1991',
 'july 22 2011',
 'june 29 1986',
 'jul 1 2003',
 '29 oct 2007',
 'monday july 3 1989',
 '02 mar 1987',
 'tuesday may 9 1972',
 'tuesday october 26 1976',
 '3 march 1995',
 'friday april 24 2009',
 'tuesday august 15 1978',
 '15 january 2005',
 'saturday september 17 2016',
 '17 oct 1998',
 '21 oct 1978',
 '23 december 1985',
 'wednesday april 25 1979',
 'may 27 1983',
 'may 19 1986',
 '17.11.79',
 'saturday november 27 1976',
 'tuesday september 5 2006',
 '14 february 1985',
 '27 jul 2014',
 '21.09.83',
 '20 august 1995',
 '17 february 1992',
 '08 aug 1973',
 '7/11/93',
 'nov 19 1973',
 '8/20/82',
 '1 02 00',
 '04.01.80',
 'monday december 13 1971',
 '16 september 2006',
 'monday june 30 1997',
 '18 january 2016',
 '25 jun 1997',
 '30 oct 1987',
 '17 august 1973',
 'friday october 4 1991',
 'april 24 1980',
 'april 18 2000',
 'sunday october 8 2017',
 'saturday april 14 2018',
 '14 february 2018',
 '6 apr 2017',
 'may 31 2003',
 'friday september 11 1987',
 '21 08 12',
 'thursday december 28 2000',
 'september 30 1993',
 'oct 19 2001',
 'friday may 4 2018',
 '10 mar 1993',
 '3 01 82',
 '19 jan 1995',
 '10 october 1992',
 '2 apr 1976',
 'mar 31 2018',
 '22 november 1974',
 '16 jun 1980',
 'sunday july 9 1972',
 'friday march 27 1992',
 'wednesday january 17 1996',
 'friday may 15 1992',
 'monday october 7 1974',
 'january 27 2012',
 '1/15/12',
 'friday september 5 1975',
 '5 11 86',
 'friday june 11 2010',
 'monday may 7 2018',
 '3 jul 1973',
 'june 17 1987',
 'thursday january 6 1994',
 'jan 14 2005',
 '6/3/81',
 '9 january 1988',
 '05 jan 1976',
 '05.01.93',
 'thursday november 6 1986',
 '26.03.98',
 '23 november 1981',
 'wednesday november 4 2015',
 'wednesday october 11 1989',
 '24 sep 1985',
 'saturday february 2 2002',
 'thursday july 2 1992',
 '4/13/70',
 '06 jul 1976',
 'saturday september 24 1983',
 'tuesday october 29 1991',
 'wednesday july 26 1978',
 '19.04.93',
 '19 march 1999',
 'august 18 1994',
 'friday october 19 1979',
 'friday june 19 1987',
 'june 16 1988',
 '4 06 88',
 '31 may 2001',
 '23 jun 2016',
 'tuesday january 10 2006',
 'monday august 25 2003',
 '6 september 1977',
 'apr 19 1983',
 '25.07.12',
 'sunday march 14 1999',
 'tuesday march 19 2013',
 '8 jun 2002',
 'thursday january 26 2017',
 'sunday april 4 2004',
 'friday july 2 1993',
 '1/21/78',
 '2 july 2014',
 'tuesday december 22 1987',
 '16 aug 1974',
 'saturday december 12 1987',
 '30 apr 2002',
 '4 oct 1979',
 'wednesday june 23 1976',
 'thursday december 7 1995',
 'dec 19 1980',
 'january 24 1985',
 'wednesday may 15 1985',
 '14 february 1993',
 'nov 6 1972',
 'wednesday september 25 1991',
 '8 february 1976',
 'september 20 1972',
 'wednesday march 24 1993',
 'december 24 2014',
 '10 jan 1991',
 'sunday september 3 2000',
 'wednesday march 28 1973',
 'march 15 1999',
 'saturday april 6 1985',
 '1 dec 1996',
 '3/17/96',
 '17 may 1994',
 '24 jun 2011',
 'saturday june 1 1996',
 'tuesday september 17 2002',
 'monday february 16 2015',
 'april 14 2007',
 'sunday june 15 2008',
 'saturday march 21 1981',
 '20 september 1981',
 'march 29 2008',
 '6 december 1981',
 '18.02.70',
 '6 august 1998',
 '3 sep 1995',
 'saturday april 8 2000',
 'thursday january 16 1975',
 '7/22/78',
 '17.05.09',
 'june 17 2002',
 '24 sep 2012',
 '11 april 2002',
 '16 april 1986',
 'sunday april 1 2007',
 'saturday january 31 1987',
 'tuesday june 13 1978',
 'saturday april 7 2007',
 'october 29 2009',
 '23 august 1990',
 'monday april 21 2008',
 'wednesday january 22 1992',
 'wednesday february 13 2013',
 '29.06.01',
 '21.08.81',
 'august 31 2014',
 '15 jan 1976',
 'saturday august 31 2002',
 '15 mar 2006',
 '4 april 1978',
 'friday august 11 1995',
 'april 28 2006',
 'monday may 14 2018',
 '8 february 1989',
 'august 15 1986',
 'sunday april 15 2012',
 '22 november 1970',
 '21 jan 2001',
 'thursday may 14 1981',
 'may 28 1999',
 'wednesday april 13 2005',
 '30.10.87',
 '07.01.83',
 '30 apr 2015',
 'friday june 15 1973',
 '15 02 03',
 'september 29 1991',
 '3/9/79',
 '24 may 1989',
 '9 october 2010',
 'december 29 2011',
 '26 01 74',
 '7 jun 2007',
 '21 september 1999',
 '08 jan 1973',
 'friday january 17 1992',
 'thursday april 9 2009',
 'thursday december 23 2010',
 '28 apr 2013',
 '31 05 98',
 '01 may 1973',
 'tuesday march 11 1975',
 'april 15 2002',
 'friday july 7 1989',
 'friday june 23 2006',
 'wednesday february 25 2009',
 'tuesday may 20 2008',
 'july 16 2004',
 'sunday december 6 2009',
 'monday january 10 1994',
 '2 april 2006',
 '5/31/14',
 'thursday march 15 1979',
 'friday july 13 2007',
 'friday september 28 2012',
 '15 april 2017',
 'january 9 1973',
 'sunday october 19 1986',
 '21 june 2005',
 'sunday february 20 1977',
 'saturday february 13 1993',
 'august 29 2002',
 '6 10 98',
 'thursday december 9 2010',
 '6 11 07',
 'saturday september 2 1989',
 'april 20 2018',
 'sunday january 18 2004',
 '01 jul 1995',
 'february 18 1977',
 '14 january 1979',
 '4 jan 2018',
 '22 10 79',
 '16 05 07',
 '24.05.82',
 '14.10.94',
 'october 7 2007',
 'friday april 29 2011',
 'may 23 1993',
 '26 jun 1998',
 'friday february 18 1983',
 'monday march 24 1997',
 'september 22 1977',
 'monday january 13 1997',
 'sunday january 2 1972',
 'sep 22 1974',
 'february 17 2011',
 '07 may 1983',
 'wednesday june 30 2004',
 '09.10.08',
 'tuesday january 15 2013',
 '04.06.11',
 'saturday august 2 2003',
 '3 dec 1996',
 'april 4 1995',
 'saturday october 29 2016',
 'thursday march 27 1975',
 'monday october 22 1984',
 '15 jul 1981',
 '27 sep 1976',
 'august 10 2018',
 'monday june 10 1985',
 'thursday january 24 1980',
 '12 dec 1972',
 '27 jul 1991',
 'may 27 2010',
 'friday may 11 2007',
 'september 8 1993',
 'thursday february 22 1979',
 'july 30 2013',
 '27 mar 1982',
 'friday february 2 2001',
 '29 jun 2003',
 'jan 27 2006',
 '16 jun 2010',
 '23 april 2013',
 'tuesday june 17 2003',
 'april 22 1976',
 'thursday november 12 1992',
 '8/21/91',
 'monday september 18 2017',
 'tuesday october 22 1996',
 'monday august 2 1971',
 'friday march 17 2006',
 '26 mar 2006',
 'thursday april 13 1989',
 '6/30/79',
 '11 aug 1983',
 '03.04.71',
 '1 march 1977',
 '30.07.00',
 '30 04 12',
 '11 february 1976',
 '22 july 2017',
 '03.02.91',
 '14 september 2005',
 'monday september 21 1992',
 'saturday january 9 1993',
 'thursday february 1 2001',
 '29 apr 1999',
 '29 jan 1972',
 'friday june 17 2005',
 '17 jan 1998',
 'friday july 3 1987',
 '23 oct 1983',
 'may 7 1984',
 '12 january 1996',
 'saturday december 26 1981',
 'sunday january 12 1975',
 '12 may 2008',
 'thursday march 9 1989',
 '8 12 77',
 'friday may 27 1983',
 'august 1 2001',
 'saturday september 7 1974',
 'december 12 1996',
 '26.10.02',
 'thursday september 5 2002',
 '10/24/14',
 'wednesday august 21 1974',
 'monday october 24 1983',
 'friday july 17 1992',
 'saturday may 9 1970',
 'wednesday june 21 2006',
 '27 mar 1983',
 'friday march 30 1984',
 '06 mar 1976',
 'wednesday september 5 2007',
 'aug 11 1996',
 '10 april 1993',
 '17 jun 1974',
 'tuesday november 28 1978',
 '27 03 06',
 'saturday july 19 1986',
 '14 may 2008',
 '14 sep 1998',
 'thursday january 20 1994',
 '11 november 1992',
 'september 29 1970',
 'sunday february 16 2003',
 '26 january 1974',
 'tuesday october 6 2015',
 'february 5 2018',
 'july 15 1998',
 '25 june 1990',
 'sunday may 29 1977',
 '3 february 1981',
 'saturday march 15 2003',
 'april 26 2002',
 'thursday january 10 1985',
 '21 december 1978',
 'march 24 1980',
 '8 dec 2013',
 'tuesday september 26 1995',
 'friday june 8 1990',
 '1 03 96',
 '06.07.77',
 'wednesday october 14 2015',
 '26.04.82',
 'wednesday april 7 1971',
 'friday november 25 1977',
 'july 4 2008',
 '26 sep 2002',
 'tuesday june 21 1988',
 'february 18 1980',
 '11/30/16',
 '15 10 02',
 'dec 30 1985',
 '9/4/09',
 'thursday september 6 1979',
 'wednesday april 10 1985',
 'wednesday october 18 2017',
 '15 12 15',
 '1 04 17',
 '22 oct 1999',
 'monday july 1 1996',
 'tuesday august 28 1973',
 'friday april 4 1986',
 'tuesday may 23 2000',
 'thursday february 15 1979',
 'thursday may 14 1992',
 '15 august 1993',
 '25 jun 2000',
 'monday march 31 1975',
 'thursday march 16 1972',
 '20 june 2004',
 'friday march 21 1997',
 'friday december 8 1995',
 'december 30 2002',
 '2 jun 1984',
 'saturday june 8 1985',
 'september 6 1979',
 '09 apr 1993',
 'wednesday october 14 2015',
 'saturday january 18 1975',
 'saturday december 4 2010',
 'january 16 1979',
 '22.04.77',
 'sep 30 1996',
 'wednesday august 6 2008',
 'friday august 6 2010',
 'june 28 2002',
 'friday february 25 2000',
 'saturday february 10 2018',
 '8/3/99',
 'july 9 1982',
 'may 2 2005',
 'monday august 6 1979',
 'friday august 4 2017',
 '6 jul 1992',
 'thursday july 12 2018',
 '7 may 2001',
 '3 jun 2017',
 'tuesday july 11 1995',
 'monday may 23 1994',
 'thursday may 23 1996',
 'friday february 19 1988',
 '6/7/94',
 '04.02.07',
 '06 feb 1976',
 'saturday may 16 1992',
 '17 october 1987',
 'tuesday january 30 1990',
 'tuesday december 23 2014',
 'mar 18 1977',
 '22.10.09',
 'thursday june 22 1989',
 '29 jun 1997',
 '10 february 1970',
 'saturday february 6 1988',
 'thursday december 16 2010',
 'monday march 30 1981',
 '29 december 1979',
 'tuesday november 18 2014',
 '25 march 1998',
 'january 5 1985',
 '4 august 1985',
 '25 sep 1972',
 '08 jul 1987',
 '11 02 72',
 'friday july 9 1976',
 'sunday august 5 1990',
 '25 apr 1972',
 'sunday february 19 1984',
 'wednesday july 29 1981',
 '12 apr 1971',
 '2/23/86',
 'tuesday may 6 1980',
 'saturday may 8 1993',
 'wednesday september 18 2013',
 'monday march 14 1977',
 '24.11.89',
 'saturday september 30 1995',
 'tuesday february 11 1986',
 'june 24 1976',
 '10/4/72',
 'february 3 1985',
 'march 9 2015',
 'september 27 2000',
 '04 dec 1971',
 'monday october 11 1993',
 '13 november 1991',
 '14 sep 1980',
 'wednesday august 21 1996',
 'friday october 27 1989',

In [120]:
df_test = pd.DataFrame(columns=['matches','decoded','expected', 'input_sentence'])
df_test.loc[0, ['matches','decoded', 'expected', 'input_sentence']]=[True, 'decoded_value','true_value', 'elem']
for i, elem in enumerate(Xoh_test[0:10000]):
    input_seq = elem.reshape(1,30,37)
    decoded_value = decode_sequence(input_seq,np.where(oh_start_char==1)[0][0],encoder_model, decoder_model).replace('<end>','')
    true_value = from_encode_to_chars(Y_test[i], reverse_target_char_index)
    matches = decoded_value==true_value
    df_test.loc[i, ['matches','decoded', 'expected', 'input_sentence']]=[matches, decoded_value,true_value,  from_oh_to_chars(elem, reverse_input_char_index)]

In [121]:
df_test.matches.value_counts()

True     9809
False     191
Name: matches, dtype: int64

## Study wrong cases

In [61]:
oh_new_phrase = from_nl_to_oh('9 may 1998', human_vocab, reverse_input_char_index, 30)
oh_new_date = np.zeros((1,oh_new_phrase.shape[0], num_encoder_tokens))
oh_new_date[0] = oh_new_phrase
decode_sequence(oh_new_date, np.where(oh_start_char==1)[0][0],encoder_model, decoder_model) # '2018-05-23<end>'

'199<start><start><start><start><start><start><start><start>'

In [63]:
oh_new_phrase = from_nl_to_oh('9 may 1989', human_vocab, reverse_input_char_index, 30)
oh_new_date = np.zeros((1,oh_new_phrase.shape[0], num_encoder_tokens))
oh_new_date[0] = oh_new_phrase
decode_sequence(oh_new_date, np.where(oh_start_char==1)[0][0],encoder_model, decoder_model) # '2018-05-23<end>'

'199<start><start><start><start><start><start><start><start>'

In [64]:
### Switching last two digits from years sometimes works

In [65]:
oh_new_phrase = from_nl_to_oh('9 may 1987', human_vocab, reverse_input_char_index, 30)
oh_new_date = np.zeros((1,oh_new_phrase.shape[0], num_encoder_tokens))
oh_new_date[0] = oh_new_phrase
decode_sequence(oh_new_date, np.where(oh_start_char==1)[0][0],encoder_model, decoder_model) # '2018-05-23<end>'

'1987-05-09<end>'

In [66]:
oh_new_phrase = from_nl_to_oh('9 may 1978', human_vocab, reverse_input_char_index, 30)
oh_new_date = np.zeros((1,oh_new_phrase.shape[0], num_encoder_tokens))
oh_new_date[0] = oh_new_phrase
decode_sequence(oh_new_date, np.where(oh_start_char==1)[0][0],encoder_model, decoder_model) # '2018-05-23<end>'

'1978-05-09<end>'